<div class="relative flex flex-col md:flex-row h-screen w-full overflow-hidden">
  <div
    class="order-1 md:absolute md:top-0 md:left-0 md:h-full md:w-1/2 flex items-center justify-center bg-pastelWhite p-6 md:p-8 transition-transform duration-700 ease-in-out"
    [ngClass]="showRegister ? 'md:translate-x-full' : 'md:translate-x-0'"
  >
    <mat-card
      class="relative w-full shadow-lg rounded-[35px] md:rounded-[55px] border-2 md:border-4 border-darkMauve transition-all duration-700 ease-in-out"
      [ngClass]="showRegister ? 'md:max-w-full p-6 md:p-8' : 'md:max-w-md p-4 md:p-6'"
    >
      <img
        src="pictu.png"
        alt="MinePet"
        class="absolute left-1/2 transform -translate-x-1/2 z-10 pointer-events-none animate-gato-mover"
        [ngClass]="
          showRegister ? '-top-24 md:-top-28 w-24 md:w-32' : '-top-20 md:-top-36 w-28 md:w-40'
        "
      />

      <mat-card-header class="justify-center mb-2 md:mb-4 mt-4 md:mt-6">
        <div class="font-sans text-3xl md:text-5xl font-extrabold text-darkMauve text-center">
          <h1>{{ showRegister ? 'Crear Cuenta' : 'Iniciar Sesión' }}</h1>
        </div>
      </mat-card-header>
      <mat-card-content class="flex flex-col items-start justify-center gap-4 ">
        <app-login *ngIf="!showRegister" (switchForm)="showRegister = true"></app-login>
        <app-register *ngIf="showRegister" (switchForm)="showRegister = false"></app-register>
      </mat-card-content>
    </mat-card>
  </div>

  <div
    class="order-2 bg-pastelWhite md:absolute md:top-0 md:right-0 md:h-full md:w-1/2 bg-gradient-to-br from-pastel-pink to-pastel-blue flex items-center justify-center transition-transform duration-700 ease-in-out"
    [ngClass]="showRegister ? 'md:-translate-x-full' : 'md:translate-x-0'"
  >
    <img
      src="minePet.png"
      alt="Veterinary"
      class="w-2/3 md:max-w-full max-h-64 md:max-h-full object-contain"
    />
  </div>
</div>

<app-toast #toast></app-toast>