<form [formGroup]="form" (ngSubmit)="login()">

  <app-field-minepet
    [control]="emailControl"
    [icon]="'person'"
    [placeholder]="'Email'"
    [type]="'email'"
    [errorMessage]="
      emailControl.invalid && emailControl.dirty ? 'Email inválido' : ''
    "
  ></app-field-minepet>

  <app-field-minepet
    [control]="passwordControl"
    [icon]="'lock'"
    [placeholder]="'Contraseña'"
    [type]="hidePassword ? 'password' : 'text'"
    [errorMessage]="
      form.get('password')?.invalid && form.get('password')?.dirty ? 'Contraseña requerida' : ''
    "
  >
    <button
      type="button"
      class="absolute right-2 top-1/2 transform -translate-y-1/2"
      (click)="hidePassword = !hidePassword"
    >
      <i class="material-icons">{{ hidePassword ? 'visibility_off' : 'visibility' }}</i>
    </button>
  </app-field-minepet>

  <app-buttonn-minepet [colorBg]="'green'" [colorText]="'white'" [colorSaturade]="'500'" [borderColor]="'green'">
    Acceder
  </app-buttonn-minepet>

  <p class="mt-4 text-center text-gray-500">
    ¿No tienes cuenta?
    <span
      (click)="switchToRegister()"
      class="text-pastelPink font-semibold hover:text-pastel-purple cursor-pointer"
    >
      Crea una
    </span>
  </p>
</form>